{% extends "_base.html" %}

{% block content %}

<div class="page">
    <div class="container">

        {% if course is defined or coach_present is defined %}
            <header class="lesson-header">
                <a href="{{ url_for('index') }}">Nauč se Python </a>
                {% if (course is defined and course.vars['coach-present']) or (coach_present is defined and coach_present) %}
                > <a href="{{ url_for('runs') }}">Kurzy</a>
                {% else %}
                > <a href="{{ url_for('courses') }}">Materiály</a>
                {% endif%}
                {% block breadcrumbs %}{% endblock %}
                <hr>
            </header>
        {% endif %}

        {% block course_content %}
        {% endblock %}

        {% if (prev_link is defined and prev_link != None) or (next_link is defined and next_link != None) %}
        <hr class="lesson-end">

        {% if (course is defined and not course.canonical) or (course_is_derived is defined and course_is_derived) %}
            <div class="alert alert-info">
                Toto je stránka lekce z kurzu, který probíhá nebo proběhl naživo s instruktorem.
                {% if ((course is defined and course.base_course) or (course_is_derived is defined and course_is_derived)) %}
                    {% if canonical_url is defined and canonical_url %}
                        <a href="{{ canonical_url }}">Přejít na stejnou lekci v kurzu pro samouky</a>.
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}

        <div class="row prev-next">
            <div class="col text-left">
            {% if prev_link is defined and prev_link %}
                <a href="{{ prev_link["url"] }}">← <span class="d-none d-sm-block">{{ prev_link["title"] }}</span></a>
            {% endif %}
            </div>

            <div class="col text-center">
            {% if session_link is defined and session_link %}
                <a href="{{ session_link["url"] }}">↑ <span class="d-none d-sm-block">Lekce: {{ session_link["title"] }}</span></a>
            {% endif %}
            </div>

            <div class="col text-right">
            {% if next_link is defined and next_link %}
              <a href="{{ next_link["url"] }}">→ <span class="d-none d-sm-block">{{ next_link["title"] }}</span></a>
            {% endif %}
            </div>
        </div>
        {% endif %}


    </div>
</div>

{% endblock content %}
