{% extends "_base_course.html" %}

{% block style %}
    {% if page.css %}
        {{ page.css }}
    {% endif %}
{% endblock style %}

{% block extra_links %}
    {% if canonical_url is defined and canonical_url %}<link rel="canonical" href="{{ canonical_url }}" />{% endif %}
{% endblock %}

{% block breadcrumbs %}
> <a href="{{ course_url(course) }}">{{ course.title }}</a>
{% if session %}
> <a href="{{ session_url(course.slug, session.slug) }}">{{ session.title }}</a>
{% endif %}
> {{ page.title }}
{% endblock %}

{% block course_content %}

  {% include "content/lesson.html" %}

{% endblock %}
