PyYAML
ansi2html
git+https://github.com/mikicz/elsa.git@invoke-cli#egg=elsa
flask
frozen-flask
ics
ipython
jinja2
jupyter_client
mistune
nbconvert
pygments
python-dateutil
traitlets
werkzeug
git+https://github.com/mikicz/arca.git#egg=arca
cssutils~=1.0  # frozen because of naucse.models.Page.limit_css_to_lesson_content, see details there
gitpython
click
colorama
