{% extends "_base_course.html" %}

{% block style %}
    {% if page.css %}
        {{ page.css }}
    {% endif %}
{% endblock style %}

{% block extra_links %}
    {% if canonical_url is defined %}<link rel="canonical" href="{{ canonical_url }}" />{% endif %}
{% endblock %}

{% block breadcrumbs %}
> <a href="{{ course.url }}">{{ course.title }}</a>
{% if session %}
> <a href="{{ session.url }}">{{ session.title }}</a>
{% endif %}
> {{ page.title }}
{% endblock %}

{% block course_content %}

  {{ content|safe }}

{% endblock %}
