{% extends "_base_course.html" %}

{% block style %}
    {% if page.css %}
        {{ page.css }}
    {% endif %}
{% endblock style %}

{% block extra_links %}
    {% if canonical_url is defined %}<link rel="canonical" href="{{ canonical_url }}" />{% endif %}
{% endblock %}

{% block breadcrumbs %}
> <a href="{{ course_url }}">{{ course_title }}</a>
{% if session_title %}
> <a href="{{ session_url }}">{{ session_title }}</a>
{% endif %}
> {{ page.title }}
{% endblock %}

{% block course_content %}

  {{ content|safe }}

{% endblock %}
